$brandColor :#f5e4e5;
//colores
$brandColor :#FC4850;
$contrastColor :#F5F394;
$primaryText : #202124;
$secondaryText : #5f6368;
$green : #00a650;

$borderRadius : .5rem;
//BREAKPOINTS
$breakpoints : (
    "pretablet" : 520px,
    "tablet" : 767px,
    "predesktop" : 950px,
    "desktop" : 1050px,
    "large" : 1200px
);