section.banner
    .header__banner__wrapper 
        figure.header__banner__box__img
            img.header__banner__img(src="/public/site/img/header/banner.png" alt="" width="574px" )
        .header__banner__text__wrapper
            h1.header__banner__h1 
                span SOPORTE REMOTO 
                |Y PRESENCIAL A TU PC O LAPTOP
            span.header__banner__span Confianza, Calidad y Celeridad.
            .header__banner__btn-group
                a.header__banner__btn.btn.btn--primary(href="#")  Llamar
                a.header__banner__btn.btn.btn--green--inverted(href="#")  Escribir
            hr.header__banner__hr