section.productos 
    .productos__wrapper 

        h2.productos__h2.title Productos

        .carousel__main__wrapper
            .carousel__wrapper.carousel__productos
                .carousel__card
                    .carousel__card__wrapper
                        figure.carousel__card__box__img
                            img.carousel__card__img(src="/public/site/img/productos/1.png" alt="" height="100px")
                        h3.carousel__card__title Disco Solido Kingston 240GB
                        .carousel__card__box__price
                            p.carousel__card__price__before
                                span $170.000
                            p.carousel__card__price 
                                span $150.000
                        .carousel__card__box__shipping
                            p.carousel__card__shipping
                                img.carousel__card__shipping-logo(src="/public/site/img/icons/shipping.png", alt="" width="30px")
                                span Envío a toda Colombia
                        //- p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        a.carousel__card__btn.btn.btn--primary.btn__carrito(href="product.html") Más información

                .carousel__card
                    .carousel__card__wrapper
                        figure.carousel__card__box__img
                            img.carousel__card__img(src="/public/site/img/productos/1.png" alt="" height="100px")
                        h3.carousel__card__title Disco Solido Kingston 240GB
                        .carousel__card__box__price
                            p.carousel__card__price__before
                                span $170.000
                            p.carousel__card__price 
                                span $150.000
                        .carousel__card__box__shipping
                            p.carousel__card__shipping
                                img.carousel__card__shipping-logo(src="/public/site/img/icons/shipping.png", alt="" width="30px")
                                span Envío a toda Colombia
                        //- p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        a.carousel__card__btn.btn.btn--primary(href="product.html") Más información

                .carousel__card
                    .carousel__card__wrapper
                        figure.carousel__card__box__img
                            img.carousel__card__img(src="/public/site/img/productos/1.png" alt="" height="100px")
                        h3.carousel__card__title Disco Solido Kingston 240GB
                        .carousel__card__box__price
                            p.carousel__card__price__before
                                span $170.000
                            p.carousel__card__price 
                                span $150.000
                        .carousel__card__box__shipping
                            p.carousel__card__shipping
                                img.carousel__card__shipping-logo(src="/public/site/img/icons/shipping.png", alt="" width="30px")
                                span Envío a toda Colombia
                        //- p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        a.carousel__card__btn.btn.btn--primary(href="product.html") Más información

                .carousel__card
                    .carousel__card__wrapper
                        figure.carousel__card__box__img
                            img.carousel__card__img(src="/public/site/img/productos/1.png" alt="" height="100px")
                        h3.carousel__card__title Disco Solido Kingston 240GB
                        .carousel__card__box__price
                            p.carousel__card__price__before
                                span $170.000
                            p.carousel__card__price 
                                span $150.000
                        .carousel__card__box__shipping
                            p.carousel__card__shipping
                                img.carousel__card__shipping-logo(src="/public/site/img/icons/shipping.png", alt="" width="30px")
                                span Envío a toda Colombia
                        //- p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        a.carousel__card__btn.btn.btn--primary(href="product.html") Más información

                .carousel__card
                    .carousel__card__wrapper
                        figure.carousel__card__box__img
                            img.carousel__card__img(src="/public/site/img/productos/1.png" alt="" height="100px")
                        h3.carousel__card__title Disco Solido Kingston 240GB
                        .carousel__card__box__price
                            p.carousel__card__price__before
                                span $170.000
                            p.carousel__card__price 
                                span $150.000
                        .carousel__card__box__shipping
                            p.carousel__card__shipping
                                img.carousel__card__shipping-logo(src="/public/site/img/icons/shipping.png", alt="" width="30px")
                                span Envío a toda Colombia
                        //- p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        a.carousel__card__btn.btn.btn--primary(href="product.html") Más información

                .carousel__card
                    .carousel__card__wrapper
                        figure.carousel__card__box__img
                            img.carousel__card__img(src="/public/site/img/productos/1.png" alt="" height="100px")
                        h3.carousel__card__title Disco Solido Kingston 240GB
                        .carousel__card__box__price
                            p.carousel__card__price__before
                                span $170.000
                            p.carousel__card__price 
                                span $150.000
                        .carousel__card__box__shipping
                            p.carousel__card__shipping
                                img.carousel__card__shipping-logo(src="/public/site/img/icons/shipping.png", alt="" width="30px")
                                span Envío a toda Colombia
                        //- p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        a.carousel__card__btn.btn.btn--primary(href="product.html") Más información

                .carousel__card__breadcrumbs
                    .carousel__card__bradcrumb
                    .carousel__card__bradcrumb
                    .carousel__card__bradcrumb
                    .carousel__card__bradcrumb
                    .carousel__card__bradcrumb
                    .carousel__card__bradcrumb

                figure.carousel__card__arrow.carousel__card__left-arrow
                    img.carousel__card__arrow-logo(src="/public/site/img/servicios/arrow-left.png" alt="")
                figure.carousel__card__arrow.carousel__card__right-arrow.carousel__card__arrow--right
                    img.carousel__card__arrow-logo(src="/public/site/img/servicios/arrow-right.png" alt="")