section.servicios 
    .servicios__wrapper 

        h2.servicios__h2.title Servicios

        .carousel__wrapper.carousel__servicios
            .carousel__card
                .carousel__card__wrapper
                    figure.carousel__card__box__img
                        img.carousel__card__img(src="/public/site/img/servicios/office-logo.png" alt="" height="100px")
                    h3.carousel__card__title Instalación de Microsoft Office
                    p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eaque ullam nihil magnam iste corporis voluptates nam a reiciendis repellendus iusto voluptatem nobis, accusamus nisi aut.
                    a.carousel__card__btn.btn.btn--primary--inverted Solicitar

            .carousel__card 
                figure.carousel__card__box__img
                    img.carousel__card__img(src="/public/site/img/servicios/adobe-photoshop-logo.png" alt="" height="100px")
                h3.carousel__card__title Instalación de Adobe
                p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eaque ullam nihil magnam iste corporis voluptates nam a reiciendis repellendus iusto voluptatem nobis, accusamus nisi aut.
                a.carousel__card__btn.btn.btn--primary--inverted Solicitar

            .carousel__card 
                figure.carousel__card__box__img
                    img.carousel__card__img(src="/public/site/img/servicios/autocad-logo.png" alt="" height="100px")
                h3.carousel__card__title Instalación de Autocad
                p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eaque ullam nihil magnam iste corporis voluptates nam a reiciendis repellendus iusto voluptatem nobis, accusamus nisi aut.
                a.carousel__card__btn.btn.btn--primary--inverted Solicitar

            .carousel__card 
                figure.carousel__card__box__img
                    img.carousel__card__img(src="/public/site/img/servicios/civil-3d-logo.png" alt="" height="100px")
                h3.carousel__card__title Instalación de Windows
                p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eaque ullam nihil magnam iste corporis voluptates nam a reiciendis repellendus iusto voluptatem nobis, accusamus nisi aut.
                a.carousel__card__btn.btn.btn--primary--inverted Solicitar

            .carousel__card 
                figure.carousel__card__box__img
                    img.carousel__card__img(src="/public/site/img/servicios/windows-logo.png" alt="" height="100px")
                h3.carousel__card__title Instalación de juegos
                p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eaque ullam nihil magnam iste corporis voluptates nam a reiciendis repellendus iusto voluptatem nobis, accusamus nisi aut.
                a.carousel__card__btn.btn.btn--primary--inverted Solicitar

            .carousel__card 
                figure.carousel__card__box__img
                    img.carousel__card__img(src="/public/site/img/servicios/epson-logo.png" alt="" height="100px")
                h3.carousel__card__title Instalación de linux
                p.carousel__card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt eaque ullam nihil magnam iste corporis voluptates nam a reiciendis repellendus iusto voluptatem nobis, accusamus nisi aut.
                a.carousel__card__btn.btn.btn--primary--inverted Solicitar

            .carousel__card__breadcrumbs
                .carousel__card__bradcrumb
                .carousel__card__bradcrumb
                .carousel__card__bradcrumb
                .carousel__card__bradcrumb
                .carousel__card__bradcrumb
                .carousel__card__bradcrumb

            figure.carousel__card__arrow.carousel__card__left-arrow
                img.carousel__card__arrow-logo(src="/public/site/img/servicios/arrow-left.png" alt="")
            figure.carousel__card__arrow.carousel__card__right-arrow.carousel__card__arrow--right
                img.carousel__card__arrow-logo(src="/public/site/img/servicios/arrow-right.png" alt="")