
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Menu Aplicacion
        link(rel="stylesheet" href="/css/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet")
        script(src="/js/index.js")
    body

        main.main

            aside.menu.menu--desktop
                .menu__wrapper
                    figure.logo__box 
                        img.logo__icon(src="/img/logo/logo.png" alt="" width="60px" , height="60px")
                        h2.logo__text E-commerce

                    .menu__module
                        h3.module__name Productos
                        nav.module__options
                            ul.module__options-list
                                li.module__option
                                    img.module__option-icon(src="https://img.icons8.com/?size=1x&id=x158grZGmi75&format=png" alt="" width="20px")
                                    a.module__link(href="/dashboard/producto" data-route="#crear-articulo") Listar productos
                                li.module__option
                                    img.module__option-icon(src="https://img.icons8.com/?size=1x&id=x158grZGmi75&format=png" alt="" width="20px")
                                    a.module__link(href="/dashboard/producto/crear" data-route="#services") Crear producto
                                li.module__option
                                    img.module__option-icon(src="https://img.icons8.com/?size=1x&id=x158grZGmi75&format=png" alt="" width="20px")
                                    a.module__link(href="/dashboard/producto/categorias" data-route="prueba") Categorias
                                li.module__option
                                    img.module__option-icon(src="https://img.icons8.com/?size=1x&id=x158grZGmi75&format=png" alt="" width="20px")
                                    a.module__link(href="/dashboard/producto/marcas" data-route="#noexiste") Marcas

                    .menu__module
                        h3.module__name Ventas
                        nav.module__options
                            ul.module__options-list
                                li.module__option
                                    img.module__option-icon(src="https://img.icons8.com/?size=1x&id=x158grZGmi75&format=png" alt="" width="20px")
                                    a.module__link(href="/dashboard/ventas") Listar
                                li.module__option
                                    img.module__option-icon(src="https://img.icons8.com/?size=1x&id=x158grZGmi75&format=png" alt="" width="20px")
                                    a.module__link(href="/dashboard/ventas/buscar") Buscar


                    .menu__module
                        h3.module__name Usuarios
                        nav.module__options
                            ul.module__options-list
                                li.module__option
                                    img.module__option-icon(src="https://img.icons8.com/?size=1x&id=x158grZGmi75&format=png" alt="" width="20px")
                                    a.module__link(href="/dashboard/usuarios") Listar
                                li.module__option
                                    img.module__option-icon(src="https://img.icons8.com/?size=1x&id=x158grZGmi75&format=png" alt="" width="20px")
                                    a.module__link(href="/dashboard/usuario/crear") Crear
                    
                    

                    .menu__btn-box
                        a.menu__btn__collapse(href="")  Collapse

            section.content
                .content__wrapper 

                    .content__head

                        .content__head__search-box
                            form.content__search-box__form(action="" method="get")
                                input.content__form-control(type="search" name="top-search")
                                button.content__form__submit(type="submit" aria-label="submit form" )
                                    svg(aria-hidden="true" width="30px" height="30px" viewBox="0 0 1024 1024") 
                                        use(xlink:href="/img/sprite.svg#magnifying-glass-solid" fill="gray") 

                                    //-     use(xlink:href="#search") 

                        .content__head__profile

                            .content__profile-box
                                span.content__profile-name Hola, María

                            .content__avatar-box
                                .content__avatar__logo
                                    svg(aria-hidden="true" width="50px" height="50px" viewBox="0 0 1024 1024") 
                                        use(xlink:href="/img/sprite.svg#circle-user-regular" fill="gray") 
                                    //- span.content__avatar-notification 2

                                    .content__avatar__submenu
                                        form.content__avatar__form(action="/logout" method="post")
                                            ul 
                                                li 
                                                    button(type="submit") Desconectar




                    .d-content#app

                        block content






