footer.footer#footer
    img.footer__shape(src="/public/site/img/comodines/tuerca.png" alt="") 
    .footer__wrapper 

        .footer__block.footer__block1 
            a.footer__box__logo(href="#")
                img.footer__logo(src="/public/site/img/logo/logo.png" alt="")
            p.footer__copy Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo tempora odit quasi harum praesentium neque distinctio consequatur! Natus est error, delectus maxime nulla ipsum minima voluptatum debitis nostrum maiores iusto.
        .footer__block.footer__block2 
            span.footer__caption Información
            ul.footer__information__list 
                li.footer__information__li
                    a.footer__information__link(href="") 
                        img.footer__information__icon(src="/public/site/img/icons/telefono-logo.png" alt="")
                        span 310 887 1351
                li.footer__information__li
                    a.footer__information__link(href="") 
                        img.footer__information__icon(src="/public/site/img/icons/whatsapp-logo.png" alt="")
                        span 313 333 6922
                li.footer__information__li
                    a.footer__information__link(href="") 
                        img.footer__information__icon(src="/public/site/img/icons/direccion-logo.png" alt="")
                        span Cúcuta, Colombia
            figure.footer__social
                a.footer__social__link(href="#")
                    img.footer__network(src="/public/site/img/social/youtube-logo.png" alt="")
                a.footer__social__link(href="#")
                    img.footer__network(src="/public/site/img/social/twitter-logo.png" alt="")
                a.footer__social__link(href="#")
                    img.footer__network(src="/public/site/img/social/tiktok-logo.png" alt="")
        .footer__block.footer__block3 
            .footer__subblock 
                span.footer__subblock__caption Navegación
                ul.footer__subblock__list 
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Inicio
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Servicios
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Métodologia
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Servicios a empresas
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Quien somos?


            .footer__subblock 
                span.footer__subblock__caption  Legal
                ul.footer__subblock__list 
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Política de Cookies
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Política de Privacidad
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Aviso Legal
                    li.footer__subblock__li
                        a.footer__subblock__link(href="" title="") Sitemap




    .footer__copyright
        .footer__copyright__wrapper
            span.footer__copyright__text Copyright © 2023 Todos los derechos reservados.