doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Crear Producto
    body 

        h1 #{titulo_pagina}

        form(action="/producto", method="post")

            label nombre
            input(type="text" name="nombre")

            label descripcion
            input(type="text" name="descripcion")

            label categoria
            select(name="categoria_id")
                option(value="1") 1
                option(value="2" selected) 2
                option(value="3") 3

            label Marca
            select(name="marca_id")
                option(value="1") 1
                option(value="2" selected) 2
                option(value="3") 3

            label Estado
            select(name="productoestado_id")
                option(value="1") 1
                option(value="2" selected) 2
                option(value="3") 3

            input(type="submit", value="Guardar")

        if err 
            p #{err}
        if msg 
            p #{msg}