doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Product Index
    body 
        p renderizada
        h1 #{titulo_pagina}

        if rows
            ul 
                each val in rows
                    li= `${val.nombre}  |||||  ${val.slug} `
        else
            p #{msg}
            

        