
extends ../layout/layout.pug
block content

    section.article__banner
        .article__banner__wrapper
            .article__banner__content

                ul.article__breadcrumbs 
                    li.article__breadcrumb
                        a.article__bc-link(href="") Inicio
                    li.article__breadcrumb
                        a.article__bc-link(href="") Servicios
                    li.article__breadcrumb Mantenimiento de computadores

                h1.article__h1 Mantenimiento correctivo y preventivo a los computadores de su empresa

    section.article__content
        .article__content__wrapper
            article.article__content__text
                p.article__content__p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo beatae mollitia, commodi, dolorem ducimus molestiae quasi odio sapiente explicabo eos numquam perferendis temporibus dolores iusto adipisci laudantium magnam reprehenderit quod?
            
                h2.article__content__h2 En que consiste el mantenimiento preventivo a computadores?

                figure.article__content__figure
                    img.article__content__img(src="./assets/img/article/2.jpg")
                    figcaption.article__content__figcaption Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quod deserunt explicabo sit reprehenderit aperiam asperiores.

                p.article__content__p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque cupiditate alias quis, architecto aliquid et omnis accusamus nam consequuntur corporis laudantium, ad voluptates iure repellendus numquam soluta consequatur dolores molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, atque reprehenderit fuga ducimus magni esse quod distinctio eos pariatur aliquam neque, maxime eius harum sequi rem animi illum a odio!

                h2.article__content__h2 En que consiste el mantenimiento preventivo a computadores?

                figure.article__content__figure
                    img.article__content__img(src="./assets/img/article/2.jpg")
                    figcaption.article__content__figcaption Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quod deserunt explicabo sit reprehenderit aperiam asperiores.
                                
                p.article__content__p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque cupiditate alias quis, architecto aliquid et omnis accusamus nam consequuntur corporis laudantium, ad voluptates iure repellendus numquam soluta consequatur dolores molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, atque reprehenderit fuga ducimus magni esse quod distinctio eos pariatur aliquam neque, maxime eius harum sequi rem animi illum a odio!

    section.article__cta
        img.article__cta__shape(src="./assets/img/comodines/tuerca.png")
        .article__cta__wrapper
            h3.article__cta__copy Mantenimiento preventivo y correctivo a tu computador en Cúcuta y Norte de Santander
            a.article__cta__btn.btn.btn--secondary Solicitar
